language: node_js
node_js:
  - "5.4"
  - "5.3"
  - "5.2"
  - "5.1"
  - "5.0"
  - "4.2"
  - "4.1"
  - "4.0"
env:
 - TSD_GITHUB_TOKEN=dc0dec2e633e1366658a40961cdcf389eaf3dfba
script:
  - npm run lint
  - npm test
  - npm run snyk